<header>
    <h3> LOGIN</h3>
    <a href="index.php">Home</a>
    <a href="login.php">Login</a>
    <a href="register.php">Register Page</a>
    sdadadaddsdadadadaddasd
</header>dasdadadsadadadadadadaasdadadadasdadaddsadadaddadadaddsadasdasdadadadsaddsadadadadadsadsadsadaddsadadadadadasdasdasdasdasdasdasdaaskjdasjkndknasdkjnaskjdnajsndjasndjanssad
asdknasdjknasjdnjsdnajndjnadjnasjdnajsndjansdjansdjnasdjnadsadsdasdasdddsaddasdadasdasdadsadasdadadaassdadadada kamu ga bisa aneh aneh tolol jaasdaddsadadsad
asdadadaddaadadadaddadadadadadadadada